@inherits TableCertificatesComponent


<div class="table-responsive">
    <table class="table">
        <caption>Lista de Certificados</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Imagen Curso</th>
                <th scope="col">Título Curso</th>
                <th scope="col">Info Curso</th>
                <th scope="col">Fecha Finalización</th>
                <th scope="col">Certificado</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = CertificatePages.FirstRowOnPage; i < CertificatePages.LastRowOnPage; i++)
            {
                if (i >= 0 && i < CertificatePages.Results.Count)
                {
                    <tr>
                        <th scope="row">@(i + 1) </th>
                        <td>@CertificatePages.Results[i].Code</td>
                        <td><img src="@CertificatePages.Results[i].Course.Image_240x135" /></td>
                        <td>@CertificatePages.Results[i].Course.Title</td>
                        <td>@CertificatePages.Results[i].Course.Content_info</td>
                        <td>@CertificatePages.Results[i].Completion_date</td>
                        <td><a href="@CertificatePages.Results[i].Long_url" target="_blank">Ver Certificado</a></td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>

<Paginator Result="@CertificatePages" OnPageChanged="@HandlePageChanged"></Paginator>