@page "/profile/{Identifier}"
@layout ProfileLayout
@inherits ProfileComponent

<div class="container py-5 bg-white">

    <header class="text-center">
        <a href="/" class="without-color">
            <h1 class="display-4 font-weight-bold">Udemy Portfolio</h1>
        </a>

        @if (User != null)
        {
            <UserPanel User="@User"></UserPanel>
        }
    </header>

    <div class="py-5">

        @if (User != null)
        {
            <h3 class="font-weight-bold mb-0">Certificados</h3>

            <p class="font-italic text-muted mb-4">@User.Title tiene un total de @Count cursos completados.</p>

            <div class="row justify-content-between">
                <Search Search_OnChange="@Search_HandleChange"></Search>
                <div style="margin-right:30px">
                    <span class="pointer" @onclick="@ButtonExcel_HandleClick"><img src="https://img.icons8.com/color/48/000000/microsoft-excel-2019--v1.png"></span>

                </div>
            </div>
        }

        <div class="row" name="row-certificates">

            @for (int i = CertificatePages.FirstRowOnPage; i < CertificatePages.LastRowOnPage; i++)
            {
                if (i >= 0 && i < CertificatePages.Count)
                {
                    <CertificatePanel Certificate="@CertificatePages[i]"></CertificatePanel>
                }
            }

        </div>
    </div>

    <Paginator Result="@CertificatePages" OnPageChanged="@Paginator_HandleChanged"></Paginator>

</div>